<div class="theme-selector">
  <span class="theme-label">Theme:</span>
  <select [(ngModel)]="selectedTheme" (change)="setTheme(selectedTheme)">
    <option value="minimal">Light</option>
    <option value="minimal-dark">Dark</option>
    <option value="round-borders">Light (Round)</option>
    <option value="round-borders-dark">Dark (Round)</option>
  </select>
</div>

<div class="address-collection-container">
  <div class="address-row">
    <div class="address-field-with-label main-part margin-right">
      <label>Street:</label><br>
      <div class="address-field autocomplete-container">
        <geoapify-geocoder-autocomplete
          [value]="streetValue"
          [allowNonVerifiedHouseNumber]="true"
          [allowNonVerifiedStreet]="true"
          [skipIcons]="true"
          [placeholder]="' '"
          [skipSelectionOnArrowKey]="true"
          (placeSelect)="onStreetSelected($event)"
          (requestStart)="showSpinner('street')"
          (requestEnd)="hideSpinner('street')">
        </geoapify-geocoder-autocomplete>
        <div class="loading-spinner" [style.display]="spinners.street ? 'block' : 'none'"></div>
      </div>
    </div>

    <div class="address-field-with-label">
      <label for="housenumber">House number:</label><br>
      <input
        id="housenumber"
        class="geoapify-autocomplete-input small-input"
        [(ngModel)]="formData.housenumber"
        [class.warning-input]="showWarnings && !formData.housenumber"/>
    </div>
  </div>

  <div class="address-row">
    <div class="address-field-with-label main-part">
      <label for="address-additional">Apartment, suite (optional):</label><br>
      <input
        id="address-additional"
        class="geoapify-autocomplete-input"
        [(ngModel)]="formData.additional"/>
    </div>
  </div>

  <div class="address-row">
    <div class="address-field-with-label main-part margin-right">
      <label>City:</label><br>
      <div class="address-field autocomplete-container">
        <geoapify-geocoder-autocomplete
          [value]="cityValue"
          [type]="'city'"
          [placeholder]="' '"
          [skipIcons]="false"
          (placeSelect)="onCitySelected($event)"
          (requestStart)="showSpinner('city')"
          (requestEnd)="hideSpinner('city')">
        </geoapify-geocoder-autocomplete>
        <div class="loading-spinner" [style.display]="spinners.city ? 'block' : 'none'"></div>
      </div>
    </div>

    <div class="address-field-with-label">
      <label for="postcode">ZIP code:</label><br>
      <input
        id="postcode"
        class="geoapify-autocomplete-input small-input"
        [(ngModel)]="formData.postcode"
        [class.warning-input]="showWarnings && !formData.postcode"/>
    </div>
  </div>

  <div class="address-row">
    <div class="address-field-with-label main-part margin-right">
      <label>State:</label><br>
      <div class="address-field autocomplete-container">
        <geoapify-geocoder-autocomplete
          [value]="stateValue"
          [type]="'state'"
          [placeholder]="' '"
          [skipIcons]="true"
          (placeSelect)="onStateSelected($event)"
          (requestStart)="showSpinner('state')"
          (requestEnd)="hideSpinner('state')">
        </geoapify-geocoder-autocomplete>
        <div class="loading-spinner" [style.display]="spinners.state ? 'block' : 'none'"></div>
      </div>
    </div>

    <div class="address-field-with-label main-part">
      <label>Country:</label><br>
      <div class="address-field autocomplete-container">
        <geoapify-geocoder-autocomplete
          [value]="countryValue"
          [type]="'country'"
          [placeholder]="' '"
          [skipIcons]="false"
          (placeSelect)="onCountrySelected($event)"
          (requestStart)="showSpinner('country')"
          (requestEnd)="hideSpinner('country')">
        </geoapify-geocoder-autocomplete>
        <div class="loading-spinner" [style.display]="spinners.country ? 'block' : 'none'"></div>
      </div>
    </div>
  </div>

  <div class="message-container">{{ message }}</div>
  <div class="button-container">
    <button (click)="checkAddress()">Check address</button>
  </div>
</div>
